$mobile-max: 576px;
$tablet-max: 992px;
$desktop-min: $tablet-max + 1;

@mixin mobile {
  @media (max-width: #{$mobile-max}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-max + 1}) and (max-width: #{$tablet-max}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min}) {
    @content;
  }
}

@mixin mq($formats...) {
  @each $format in $formats {
    @if ($format == mobile) {
      @include mobile {
        @content;
      }
    }

    @if ($format == tablet) {
      @include tablet {
        @content;
      }
    }

    @if ($format == desktop) {
      @include desktop {
        @content;
      }
    }
  }
}

$max-width: 1300px;

$header-title-size: 2rem;
$header-vertical-padding: 1rem;
$header-height: $header-title-size + ($header-vertical-padding * 2);

$footer-height: calc(47px + 1rem);
