$mobile-max: 768px;
$desktop-min: $mobile-max + 1;

@mixin mobile {
  @media (max-width: #{$mobile-max}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min}) {
    @content;
  }
}

$max-width: 1300px;

$header-title-size: 2rem;
$header-vertical-padding: 1rem;
$header-height: $header-title-size + ($header-vertical-padding * 2);
