.image-carousel {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &__caption {
    height: 3.125rem;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;

    @include mobile {
      height: 4.0625rem;
      padding: 0 $spacing-04;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  &__nav-item {
    display: block;
    height: 7px;
    width: 7px;
    border: 1px solid color(medium, gray);
    background-color: transparent;
    transition: background-color 200ms;
    cursor: pointer;

    &--active {
      background-color: color(medium, gray);
    }
  }
}