$variants: (black, blue, green, white);

.button {
  @include monospace;

  font-weight: $normalWeight;
  font-size: 1rem;
  margin: 0;
  transition: background-color 0.2s;
  display: inline-block;
  cursor: pointer;
  height: min-content;
  white-space: nowrap;

  &--small {
    font-size: 0.79rem;
  }

  &--bordered {
    border-width: 1px;
    padding: $spacing-03;
  }

  &--animate#{&}--bordered {
    padding: $spacing-03 $spacing-05;
  }

  &--animate:hover &__icon-right {
    transform: translateX(10px);
  }

  &__icon-right {
    transform: translateX(0);
    transition: transform 0.2s;
  }

  @each $variant in $variants {

    &--#{$variant} {
      color: color(dark, $variant);
      border-color: color(dark, $variant);
      border-style: none;
    }

    &--#{$variant}#{&}--label {
      background-color: transparentize(color(light, $variant), 1);
    }

    &--#{$variant}#{&}--fill {
      background-color: color(light, $variant);
      padding: $spacing-03;
      border-style: solid;
    }

    &--#{$variant}#{&}--bordered {
      border-style: solid;
      &:hover {
        background-color: color(dark, $variant);
        @if ($variant == white) {
          color: $black;
        } @else {
          color: color(light, black);
        }
      }
    }
  }
}
