.mdx-layout {

  &--screen-width {
    overflow-x: hidden;
    margin-left: calc((100vw - 100%) / -2);
    width: 100vw;
  }

  &--border-top {
    padding-top: 1rem;
    border-top: 1px solid color(light, gray);
  }

  &--border-bottom {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid color(light, gray);
  }

  &--pad-top {
    margin-top: 3rem;
  }

  &--pad-bottom {
    margin-bottom: 3rem;
  }

  &__child--vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
