.lightbox {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: transparentize($color: color(dark, black), $amount: 0.1);
  z-index: 100;
  left: 0;
  top: 0;
  padding: $spacing-08;
  box-sizing: border-box;

  &__close-icon {
    font-size: 1.5rem;
    color: color(light, black);
    right: $spacing-06;
    top: $spacing-06;
    z-index: 100;
    position: absolute;
    cursor: pointer;
  }
}
