$spacing-01: pxToRem(2px);
$spacing-02: pxToRem(4px);
$spacing-03: pxToRem(8px);
$spacing-04: pxToRem(12px);
$spacing-05: pxToRem(16px);
$spacing-06: pxToRem(24px);
$spacing-07: pxToRem(32px);
$spacing-08: pxToRem(40px);
$spacing-09: pxToRem(48px);

$spacingVars: (
  1: $spacing-01,
  2: $spacing-02,
  3: $spacing-03,
  4: $spacing-04,
  5: $spacing-05,
  6: $spacing-06,
  7: $spacing-07,
  8: $spacing-08,
  9: $spacing-09
);

@mixin stack($scope, $increment) {
  @if $scope == item {
    margin-bottom: map-get($spacingVars, $increment);
  }

  @if $scope == children {
    & > * + * {
      margin-top: map-get($spacingVars, $increment);
    }
  }
}

@mixin inline($scope, $increment) {
  @if $scope == item {
    margin-bottom: map-get($spacingVars, $increment);
  }

  @if $scope == children {
    & > * + * {
      margin-left: map-get($spacingVars, $increment);
    }
  }
}
