.written-content {

  &__header {
    margin-bottom: 1rem;
  }

  &__date {
    margin-top: 1rem
  }

  &__categories {
    margin-top: 1rem;
  }

  &__featured-image {
    margin-bottom: 2rem;
  }
}
