.landing-page {
  &__name {
    margin-top: 0.5rem;
  }

  &__carousel-wrapper {
    position: relative;
  }

  &__carousel {
    height: 100%;
    height: 75vh;

    @include mobile {
      height: 55vh;
      width: 100vw;
      margin-left: -$spacing-06;
    }
  }

  &__overlay {
    position: absolute;
    left: -30px;
    z-index: 100;
    overflow: hidden;

    @include mq(tablet, desktop) {
      max-width: 0;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(1,.01,.81,1);
    }

    @include mobile {
      position: relative;
      left: 0;
    }

    & h5,
    & p {
      color: $white;

      @include mobile {
        color: $black;
      }
    }
  }

  &__overlay--content {
    padding: $spacing-06 $spacing-08;
    background-color: $extra-black;
    white-space: nowrap;

    @include tablet {
      padding: $spacing-04 $spacing-08;
    }

    @include mobile {
      padding: 0;
      max-width: 100%;
      background-color: transparent;
    }
  }

  &__overlay--title {
    top: 30px;
    @include mq(tablet, desktop) {
      animation-name: wipeInTitle;
      animation-delay: 0s;
    }

    @include tablet {
      top: 15px;
    }

    @include mobile {
      top: 0;
      margin-bottom: 1rem;
    }
  }

  &__overlay--title-suffix {
    @include mobile {
      white-space: normal;
    }
  }

  &__overlay--subtitle {
    bottom: 7rem;

    @include mq(tablet, desktop) {
      animation-name: wipeInSubtitle;
      animation-delay: 0.5s;
    }

    @include mobile {
      top: 0;
    }
  }

  &__overlay--subtitle-suffix {
    white-space: pre-line;
  }

  &__text-blank {
    display: inline-block;
    border-bottom-color: color(medium, gray);
    border-bottom-style: solid;
    height: 1.75rem;
    word-spacing: 10px;
  }
}

@keyframes wipeInTitle {
  from {
    max-width: 0;
  }

  to {
    max-width: 30rem;
  }
}

@keyframes wipeInSubtitle {
  from {
    max-width: 0;
  }

  to {
    max-width: 40rem;
  }
}
