.header {
  background-color: $white;
  position: fixed;
  top: -$header-height;
  left: 0;
  right: 0;
  height: $header-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid color(light, grey);
  transform: translateY(0);
  transition: transform 0.2s;
  z-index: 1000;

  &--visible {
    transform: translateY($header-height)
  }

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 $spacing-08;
    box-sizing: content-box;
    flex-grow: 1;

    @include mobile {
      padding: 0 $spacing-06;
      align-items: center;
    }
  }

  &__title {
    font-weight: $normalWeight;
    margin: 0;
    line-height: 1;

    @include mobile {
      font-size: 1.5em;
    }
  }

  &__right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include mobile {
      height: 1.5em;
      justify-content: flex-end;
    }
  }

  &__mobile-toggle {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &__mobile-nav {
    position: fixed;
    right: 0;
    left: 0;
    top: $header-height;
    height: calc(100vh - #{$header-height});
    box-sizing: border-box;
    padding: $spacing-08;
    background-color: transparentize(color(medium, black), 0.1);
    border-left: 1px solid color(light, gray);
    display: none;

    &--open {
      display: block;
    }
  }
}

.header-page-title {
  &__item {
    display: none;

    &--active {
      display: inline;
    }
  }
}

.landing-page .header-menu--horizontal .header-menu__item {
  animation-name: verticalPop;
  transform: translateY($spacing-04);
  opacity: 0;
}

.header-menu {
  @include monospace;
  @include clear-list-style;

  display: flex;
  list-style: none;
  margin: 0;
  font-size: 0.8rem;

  &--vertical {
    @include stack(children, 6);
    
    flex-direction: column;
    align-items: flex-end;
  }

  &--horizontal {
    @include inline(children, 6);

    flex-direction: row;
  }

  &--horizontal &__item {
    margin-bottom: 0;
    margin-top: 0;
  }

  &--vertical &__item {
    animation-name: horizontalPop;
    transform: translateY($spacing-04);
    opacity: 0;
  }

  &__item {
    line-height: 1;
    animation-duration: 500ms;
    animation-fill-mode: forwards;

    &:nth-child(3n+1) {
      animation-delay: 0.25s;
    }

    &:nth-child(3n+2) {
      animation-delay: .4s;
    }

    &:nth-child(3n+3) {
      animation-delay: 0.55s;
    }
  }

  &__link {
    &--active {
      font-weight: $strongWeight;
      // color: color(dark, gold);
      text-decoration: underline;
    }
  }
}

@keyframes verticalPop {
  from {
    transform: translateY($spacing-04);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes horizontalPop {
  from {
    transform: translateX($spacing-04);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
