.article-card {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  &__link {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__info {
    z-index: 1;
    padding: $spacing-06;
    position: absolute;
    bottom: 0;
  }

  &__title,
  &__date {
    margin-bottom: 0;
  }

  &__background {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $white;

    &:after {
      display: block;
      content: ' ';
      position: absolute;
      bottom: 0;
      height: 50%;
      width: 100%;
      background-image: linear-gradient(transparentize(color(dark, black), 1), transparentize(color(dark, black), .2));
    }
  }
}