.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% + #{$gridPadding});
  margin-left: #{-$gridPadding / 2};
  margin-right: #{-$gridPadding / 2};
}

$numGutters: $numCols - 1;
// The total horizontal amount allotted to columns, after subtracting off gutters
$totalWidth: calc(100% - #{($gridPadding * $numGutters)});
@for $i from 1 through $numCols {
  // The width of this column size
  $colWidth: calc(#{$i / $numCols * 100%} - #{$gridPadding});
  .col-#{$i} {
    width: $colWidth;
    margin-left: #{$gridPadding / 2};
    margin-right: #{$gridPadding / 2};
  }

  .col-offset-#{$i} {
    margin-left: calc(#{$colWidth} + #{$gridPadding * 1.5}) !important;
  }

  .mobile-col-#{$i} {
    @include mobile{
      width: $colWidth;
      margin-left: #{$gridPadding / 2};
      margin-right: #{$gridPadding / 2};
    }
  }

  .mobile-col-offset-#{$i} {
    @include mobile {
      margin-left: calc(#{$colWidth} + #{$gridPadding * 1.5}) !important;
    }
  }
}
