$base-font: 16px;
$fa-font-path: '../fonts/fontawesome';

$monospaceFamilies: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$sansSerifFamilies: "Montserrat", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serifFamilies: "Merriweather", "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;

@import './fontawesome/variables';
@import './fontawesome/mixins';

@function pxToRem($px) {
  @return ($px / $base-font * 1rem);
}

@function remToPx($rem) {
  @return (strip-unit($rem) * $base-font);
}

$fontMultiplier: 1.125;

$normalWeight: 400;
$boldWeight: 600;
$strongWeight: 900;

$fontScale: (
  desktop: (
    headline: (
      text: #{pow($fontMultiplier, 11)}rem,
      line: 1.26
    ),
    h1: (
      text: #{pow($fontMultiplier, 10)}rem,
      line: 1.26
    ),
    h2: (
      text: #{pow($fontMultiplier, 9)}rem,
      line: 1.26
    ),
    h3: (
      text: #{pow($fontMultiplier, 8)}rem,
      line: 1.26
    ),
    h4: (
      text: #{pow($fontMultiplier, 6)}rem,
      line: 1.58
    ),
    h5: (
      text: #{pow($fontMultiplier, 4)}rem,
      line: 1.58
    ),
    h6: (
      text: #{pow($fontMultiplier, 0)}rem,
      line: 1.58
    ),
    paragraph: (
      text: 1rem,
      line: 1.875
    ),
    list: (
      text: 1rem,
      line: 1.875
    ),
    base: (
      text: 1rem,
      line: 1.26
    ),
    caption: (
      text: #{pow($fontMultiplier, -1)}rem,
      line: 2.03
    )
  ),
  tablet: (
    headline: (
      text: #{pow($fontMultiplier, 10)}rem,
      line: 1.26
    ),
    h1: (
      text: #{pow($fontMultiplier, 10)}rem,
      line: 1.26
    ),
    h2: (
      text: #{pow($fontMultiplier, 9)}rem,
      line: 1.26
    ),
    h3: (
      text: #{pow($fontMultiplier, 8)}rem,
      line: 1.26
    ),
    h4: (
      text: #{pow($fontMultiplier, 6)}rem,
      line: 1.58
    ),
    h5: (
      text: #{pow($fontMultiplier, 4)}rem,
      line: 1.58
    ),
    h6: (
      text: #{pow($fontMultiplier, 0)}rem,
      line: 1.58
    ),
    paragraph: (
      text: 1rem,
      line: 1.875
    ),
    list: (
      text: 1rem,
      line: 1.875
    ),
    base: (
      text: 1rem,
      line: 1.26
    ),
    caption: (
      text: #{pow($fontMultiplier, -1)}rem,
      line: 2.03
    )
  ),
  mobile: (
    headline: (
      text: #{pow($fontMultiplier, 8)}rem,
      line: 1.26
    ),
    h1: (
      text: #{pow($fontMultiplier, 6)}rem,
      line: 1.26
    ),
    h2: (
      text: #{pow($fontMultiplier, 5)}rem,
      line: 1.26
    ),
    h3: (
      text: #{pow($fontMultiplier, 4)}rem,
      line: 1.26
    ),
    h4: (
      text: #{pow($fontMultiplier, 3)}rem,
      line: 1.58
    ),
    h5: (
      text: #{$fontMultiplier}rem,
      line: 1.58
    ),
    h6: (
      text: 1rem,
      line: 1.58
    ),
    paragraph: (
      text: 1rem,
      line: 2.25
    ),
    list: (
      text: 1rem,
      line: 2.25
    ),
    base: (
      text: 1rem,
      line: 1.26
    ),
    caption: (
      text: #{pow($fontMultiplier, -2)}rem,
      line: 2.03
    )
  )
);

@function typeSize($style, $format) {
  @return map-get(map-get(map-get($fontScale, $format), $style), text);
}

@function lineHeight($style, $format) {
  @return map-get(map-get(map-get($fontScale, $format), $style), line);
}

@mixin typography($format) {
  .headline {
    font-size: typeSize(headline, $format);
    font-weight: $boldWeight;
  }

  h1 {
    font-size: typeSize(h1, $format);
    line-height: lineHeight(h1, $format);
  }

  h2 {
    font-size: typeSize(h2, $format);
    line-height: lineHeight(h2, $format);
  }

  h3 {
    font-size: typeSize(h3, $format);
    line-height: lineHeight(h3, $format);
  }

  h4 {
    font-size: typeSize(h4, $format);
    line-height: lineHeight(h4, $format);
  }

  h5 {
    font-size: typeSize(h5, $format);
    line-height: lineHeight(h5, $format);
  }

  h6 {
    font-size: typeSize(h6, $format);
    line-height: lineHeight(h6, $format);
  }

  p {
    font-size: typeSize(paragraph, $format);
    line-height: lineHeight(paragraph, $format);
    font-weight: $normalWeight;
    max-width: 80ch;
    color: $black;
    margin-bottom: 0;

    &.full-width {
      max-width: 100%;
    }
  }
  
  ol, ul {
    font-size: typeSize(list, $format);
    line-height: lineHeight(list, $format);
  }

  a {
    color: $black;
  }

  .base {
    font-size: typeSize(base, $format);
    line-height: lineHeight(base, $format);
    font-weight: $normalWeight;
    color: $black;
  }

  .caption {
    font-size: typeSize(caption, $format);
    line-height: lineHeight(caption, $format);
    font-weight: $normalWeight;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: $monospaceFamilies;
    font-size: typeSize(base, $format);
    line-height: lineHeight(base, $format);
    font-weight: $normalWeight;
    color: $black;
  }
}

@mixin monospace {
  font-family: $monospaceFamilies;
}

@mixin serif {
  font-family: $serifFamilies;
}

@mixin sans-serif {
  font-family: $sansSerifFamilies;
}

@mixin clear-list-style {
  margin-left: 0;
  
  li::before {
    display: none;
    content: '';
  }
}
