/*
 * This is a template.
 * aws-config.js is already added to .gitignore, so you won't accidentally
 * commit AWS secrets if you follow these steps:
 * 1. Create your own copy with this command:
 * `cp aws-config.js{.example,}`
 * 2. Fill in accessKeyId and secretAccessKey
 */

module.exports = {
  region: <AWS_REGION>,
  bucketName: <AWS_BUCKETNAME>,
  accessKeyId: <AWS_API_KEY_ID>,
  secretAccessKey: <AWS_API_SECRET_ACCESS_KEY>
};
