.page {

  &__main-content {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: $header-height;
    padding: $spacing-08 $spacing-08 0;
    box-sizing: content-box;
  }
}