.page {
  overflow-x: hidden;
  &__main-content {
    max-width: $max-width;
    min-height: calc(100vh - #{$header-height} - #{$spacing-08} - (#{$footer-height}));
    margin-left: auto;
    margin-right: auto;
    margin-top: $header-height;
    padding: $spacing-08 $spacing-08 0;
    box-sizing: content-box;

    @include tablet {
      min-height: calc(100vh - #{$header-height} - #{$spacing-06} - (#{$footer-height}));
      padding: $spacing-06 $spacing-08 0;
    }

    @include mobile {
      padding: $spacing-06 $spacing-06 0;
    }
  }
}
