.image {
  &__viewport {
    width: 100%;
    height: 0;
    position: relative;
  }

  &__wrapper {
    animation-name: imageFadeIn;
    animation-timing-function: ease;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@keyframes imageFadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

